<div class="container">
  <h1 class="text-center">Dashboard</h1>
  <% unless @jobs_progress.empty? %>
    <table class="table table-hover">
      <legend class="text-center">Causas em que participa</legend>
      <thead>
        <th>Job</th>
        <th>Categoria</th>
        <th>Número de participantes</th>
        <th>Postado por</th>
        <th>Finalizado</th>
      </thead>
      <tbody>
        <% @jobs_progress.each do |job| %>
          <tr>
            <td><%= link_to job.title, job_path(job)  %></td>
            <td><%= job.category %></td>
            <td><td><%= Volunteer.where(job_id: job.id).count %></td></td>
            <td><%= job.user.first_name %> <%= job.user.last_name %></td>
            <td><%= job.finish ? "Finalizado" : "Em progresso" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <% unless @jobs_created.empty? %>
    <table class="table table-hover">
      <legend class="text-center">Minhas causas em progresso</legend>
      <thead>
        <th>Job</th>
        <th>Categoria</th>
        <th>Número de Participantes</th>
        <th>Postado por</th>
        <th>Finalizado</th>
        <th>Editar</th>
      </thead>
      <tbody>
        <% @jobs_created.each do |job| %>
          <tr>
            <td><%= link_to job.title, job_path(job)  %></td>
            <td><%= job.category %></td>
            <td><%= Volunteer.where(job_id: job.id).count %></td>
            <td><%= job.user.first_name %> <%= job.user.last_name %></td>
            <td><%= job.finish ? "Finalizado" : "Em progresso" %></td>
            <td><%= link_to "Editar", edit_job_path(job), class: 'btn btn-primary'%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <% unless @jobs_ended.empty? %>
    <table class="table table-hover">
      <legend class="text-center">Causas finalizadas</legend>
      <thead>
        <th>Job</th>
        <th>Categoria</th>
        <th>Participantes</th>
        <th>Finalizado</th>
      </thead>
      <tbody>
        <% @jobs_ended.each do |job| %>
          <tr>
            <td><%= link_to job.title, job_path(job)  %></td>
            <td><%= job.category %></td>
            <td><%#= job.qty %></td>
            <td><%= job.finish ? "Finalizado" : "Em progresso" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <% if @jobs_progress.empty? && @jobs_progress.empty? && @jobs_ended.empty? %>
    <h3 class="text-center">Ajude a melhorar o mundo</h3>
  <% end %>
</div>
