
<div class='banner' style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('banner_picture.jpg');">
  <div class='banner-content'>
    <h1>PorUmMundoMelhor</h1>
    <p>Junte-se</p>
    <%=link_to 'Poste um job', new_job_path, class: "btn btn-primary btn-lg" %>
    <a class="btn btn-primary btn-lg">Aplique para um job</a>
  </div>
</div>

<div class="wrapper-cards">
  <div class="container">
    <div class="row">
      <% @jobs.each do |job| %>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card">
          <div class="card-picture">
            <%=image_tag(job.picture) %>
            <span class="gradient"> </span>
            <div class="card-category text-right">
              <%= job.category %>
            </div>
            <div class="card-title">
              <h2> <%= job.title %> </h2>
            </div>
          </div>
          <div class="card-desc text-center">
            <% if job.remote == true %>
              <p><i class="fa fa-wifi"></i> Remoto</p>
            <% end %>
            <p>
              <%= job.short_description %>
            </p>
          </div>
          <%=link_to "Link", job_path(job), class: "btn btn-default" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
