<div class="image-wrapper">
  <% if @job.picture != [] %>
  <div id="carousel-show" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <% first_item = true %>
      <% @job.picture.each do |pic| %>

      <% if first_item %>
        <div class="item active">
        <% first_item = false%>
      <% else %>
        <div class="item">
      <% end %>
        <%= cl_image_tag pic.path, width: 800, height: 200, crop: :fill %>
      </div>
      <% end %>
    </div>
     <!-- Controls -->
    <a class="left carousel-control" href="#carousel-show" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-show" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <% end %>
</div>

<div class="container">

  <div class="row">

  </div>

  <div class="row">
    <h3>Postado por: <%= @job.user.first_name %> <%= @job.user.last_name %></h3>
  </div>

  <div class="row">
    <h3>Título: <%= @job.title %></h3>
  </div>

  <div class="row">
    <h3>Categoria: <%= @job.category %></h3>
  </div>

  <div class="row">
    <h3>Descrição: <%= @job.description %></h3>
  </div>

  <div class="row">
  <%= link_to "Aplicar", job_volunteers_path(@job), method: :post, class: 'btn btn-success'%>
    <% if user_signed_in? && @job.user_id == current_user.id %>
      <%= link_to "Editar", edit_job_path, class: 'btn btn-primary'%>
    <% end %>
    <%= link_to "Dashboard", dashboard_index_path, class: 'btn btn-primary'%>
  </div>
</div>
