<div class="container">

  <div class="row">
    <% if @job.picture %>
      <%= image_tag(@job.picture) %>
    <% else %>
      <%=image_tag("https://unsplash.it/400/300") %>
    <% end %>
  </div>

  <div class="row">
    <h3>Postado por: <%= @job.user.first_name %> <%= @job.user.last_name %></h3>
  </div>

  <div class="row">
    <h3>Título: <%= @job.title %></h3>
  </div>

  <div class="row">
    <h3>Categoria: <%= @job.category %></h3>
  </div>

  <div class="row">
    <h3>Descrição: <%= @job.description %></h3>
  </div>

  <div class="row">
  <%= link_to "Aplicar", job_volunteers_path(@job), method: :post, class: 'btn btn-success'%>
    <% if @job.user_id == current_user.id %>
      <%= link_to "Editar", edit_job_path, class: 'btn btn-primary'%>
    <% end %>
    <%= link_to "Dashboard", dashboard_index_path, class: 'btn btn-primary'%>
  </div>
</div>
