<div class="container">

  <div class="row">
    <% if @job.picture != [] %>
      <% @job.picture.each do |pic| %>
        <%= cl_image_tag pic.path, width: 300, height: 200, crop: :fill %>
      <% end %>
    <% else %>
      <%=image_tag("https://unsplash.it/400/300") %>
    <% end %>
  </div>

  <div class="row">
    <h3>Postado por: <%= @job.user.first_name %> <%= @job.user.last_name %></h3>
  </div>

  <div class="row">
    <h3>Título: <%= @job.title %></h3>
  </div>

  <div class="row">
    <h3>Categoria: <%= @job.category %></h3>
  </div>

  <div class="row">
    <h3>Descrição: <%= @job.description %></h3>
  </div>
</div>
